.dash-side{
    background-color: #223843;
    min-height: 100vh;
    width:20%;
}
.dash-btn{
    width: 100%;
    background-color: #003353;
    outline: none;
    border: none;
    color: white;
}
.dash-btn:hover{
    background-color: #021c2c;

}
.active-btn{
    background-color: rgb(3, 39, 61);
}
.dashboard-main{
    width: 80%;
}
.dash-btn i{
    font-size: 30px;
    margin-right: 20px;
}
@media (max-width: 768px) {
    .main{
        flex-direction: column;
    }
    .dash-side {
        display: none !important;
    }
    .dashboard-main {
        width: 100%;
    }
}